.btn-finalizar{
    background-color: #E3C595;
    color: #fff;
    font-weight: 700;
    margin-right: 8px;
}

.btn-finalizar:hover{
    color: #fff;
    background-color: #ddc091;
}

.btn-continuar{
    border: 2px solid #E3C595;
    color: #E3C595;
}

.btn-continuar:hover{
    color: #ddc091;
    border-color:#ddc091;
}