.grid{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 50px;
}

.carrito-vacio{
    margin-top: 25px;
}

.carrito-vacio__alert{
    font-size: 30px;
    text-transform: uppercase;
    color: #c60000;
    margin: 80px 0;
}

.carrito-vacio__link{
    text-decoration: none;
    color: #038C8C;
    font-size: 25px;
    position: relative;
}

.carrito-vacio__link::after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 3px;
    background-color: #038C8C;
    left: 0;
    bottom: -10px;
    transition: all .3s ease;
}

.carrito-vacio__link:hover:after{
    width: 100%;
}

.compra{
    margin-top: 20px;
    padding: 40px;
}

.compra__contenedor{
    position: sticky;
    top: 20px;
}

.compra__total{
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.compra__total span{
    color: #038C8C;
    font-weight: 700;
}

