.icono{
    font-size: 25px;
    color: #038C8C;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icono:hover{
    color: #038C8C;
}

.icono__cantidad{
    margin-left: 5px;
    padding: 0 0 20px 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #037F8C;
}
