.detail{
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 20px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 30px 0;
}

.detail img{
    width: 360px;
}

.flex{
    display: flex;
    justify-content: center;
}

.detail__price{
    font-size: 35px;
}

.detail__producto{
    text-align: left;
    margin-left: 50px; 
}

.detail__producto h2{
    color: #000;
    text-transform: capitalize;
}

.detail__head{
    margin-top: 20px;
    color: #939393;
}

.detail__star{
    margin-top: 20px;
    color: #038C8C;
}

.detail__star span{
    color: #000;
}
