.container{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.container__count{
    display: flex;
    margin-right: 30px;
}

.count{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid #038C8C;
    border-radius: 50px;
}

.count__añadir{
    color: #038C8C;
    font-size: 30px;
    background-color: transparent;
    margin-right: 20px;
    cursor: pointer;
}

.count__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count__container button {
    color: #fff;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 25px;
    background-color: #038C8C;
    margin: 0 20px;
    cursor: pointer;
}

.contenedor__count span{
    font-size: 20px;
}

.go-cart{
    display: none;
    color: #fff;
    background-color: #038C8C;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all .3s ease;
}

.go-cart:hover{
    font-size: 20px;
    margin-left: -6px;
}
